<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-3 gap-4" id="cards-container">
    <!-- Cards will be dynamically added here -->
  </div>
</div>
<h3 id="cart_subtotal">Subtotal: </h3>
