<html>
  <head>
    <title>My Sinatra App</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/build/styles.css">
    <script defer src="/js/main.js" type="module"> </script>

  </head>
  <body>
    <header>
      <%= erb :'/layout/nav' %>
    </header>

      <%= erb :'layout/flashes' %>

      <div class="container mx-auto px-8">
          <%= yield %>
      </div>

    <div class="container mx-auto px-8">
      <footer>
        <p>&copy; 2023 My App. All rights reserved.</p>
      </footer>
    </div>
    <script
  defer
  type="text/javascript"
  src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>

  </body>
</html>
